@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --background: #252525;
    --text: #ffffff;
    --text-user: #d72929;
    --text-path: #729fcf;
}

body {
    font-family: 'JetBrains Mono', sans-serif;
    color: var(--text);
    background: var(--background);
    margin: 0;
    height: 100%;
    overflow: auto;
}

header {
    padding: 10px;
}

header pre {
    font-size: 0.7rem;
    page-break-inside: avoid;
    font-family: monospace;
    line-height: 1.6;
    max-width: 100%;
    overflow: auto;
    display: block;
    word-wrap: break-word;
    margin-bottom: -46px;
}

.path-content {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user {
    color: var(--text-user);
    user-select: none;
}

.path {
    color: var(--text-path);
    user-select: none;
}

#terminal {
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

.output {
    height: auto;
}

.last-command {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-line {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.prompt {
    margin-right: 5px;
}

[contenteditable='true']#commandInput br {
    display: none;
}

[contenteditable='true']#commandInput * {
    display: inline;
    white-space: nowrap;
}

#commandInput {
    background: none;
    border: none;
    flex: 1;
    outline: none;
    caret-color: transparent;
    white-space: pre;
    word-wrap: break-word;
}

#commandInput:focus {
    outline: none;
    border: none;
}

#cursor {
    width: 10px;
    height: 20px;
    background-color: white;
    animation: blink 1s steps(2, start) infinite;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

a {
    color: var(--text);
}

.help-commands {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}
